<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sohnyi.liangcare">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AppLockActivity">
        </activity>

        <activity android:name=".CreateSecCabActivity">
        </activity>

        <activity
            android:name=".SecCabActivity"
            android:label="@string/security_cabinet">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleInstance"
            android:theme="@style/TranslucentTheme">
        </activity>

        <activity
            android:name=".ui.SecCabLogin"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="liangCare_ACTION_START_SECCAB"/>
            </intent-filter>
        </activity>

        <activity android:name=".utils.PermissionsActivity">
        </activity>

        <activity android:name=".utils.FindPassActivity">
        </activity>

        <!-- services -->
        <service
            android:name=".service.LockService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!-- receivers -->
        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.PackageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.LockService$ScreenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>